.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: gray;
    font-size: 50px;
    height: 300px;
}
@media(max-width:500px){
    .container{
        font-size: 20px;
    }
}